.DS_Store
node_modules
.turbo
.yarn
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.vscode

# Ignore apple "double files"
# Use `dot_clean -m ./` to remove them
._*


.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
