.DS_Store
node_modules
.turbo
.yarn
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.vscode

# Ignore apple "double files"
# Use `dot_clean -m ./` to remove them
._*

.github/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Ignore the copied socketEvents.ts and types.ts files
./client/socketEvents.ts
./client/types.ts
