:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.slideIn {
  animation: slideIn 1s ease-in-out;
}

.slideOut {
  animation: slideOut 1s ease-in-out;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--light-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  /* max-width: 1280px; */
  max-width: 80%;
  margin: 0 auto;
}
